/.vscode
/1Week.html
/Course
/davaleba3.css
/davaleba3.html
/FreegamesApi.js
/GamesSite
/homework.html
/homework7.html
/homework7.js
/netacad.html
/netacad.js
/RegistrationForm
/Student.html
/style.css